# IDE and OS
.idea
.vscode
.DS_Store

# output
bin
log
*.log
*.out
*.out.*
*.test
build
mcp-server
.env
.env.dev
.env.docker
.current-session

# dependencies
vendor
tmp
server
main

#claude
.mcp.json

# codex
.mcp.toml