# IDE and OS
.idea
.vscode
.DS_Store

# output
bin
log
*.log
*.out
*.out.*
*.test
build
mcp-server
.env
.env.dev
.env.docker
.current-session
.env.local
.env.prod

# dependencies
vendor
tmp
server
main
fortress-api

# agent
.locus
.gemini-clipboard

#claude
.mcp.json
.mcp.bak.json
.mcp.prod.json
opencode.json

# codex
.mcp.toml

# scripts
scripts/local