# Default reviewers for every PR
*           @huynguyenh @namnhce @lmquang
.github/    @huynguyenh @namnhce @lmquang
cmd/        @huynguyenh @namnhce @lmquang
docs/       @huynguyenh @namnhce @lmquang
migrations/ @huynguyenh @namnhce @lmquang
pkg/        @huynguyenh @namnhce @lmquang
