# Default reviewers for every PR
*           @huynguyenh @lmquang
.github/    @huynguyenh @lmquang
cmd/        @huynguyenh @lmquang
docs/       @huynguyenh @lmquang
migrations/ @huynguyenh @lmquang
pkg/        @huynguyenh @lmquang
