version: "3"
services:
  #  api:
  #    build:
  #      context: .
  #    env_file: .env.docker
  #    ports:
  #      - "8201:8200"
  #    expose:
  #      - 8201
  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: fortress_local
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    container_name: fortress_local
    ports:
      - "25432:5432"
    expose:
      - 25432

  postgres_test:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: fortress_local_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    container_name: fortress_local_test
    ports:
      - "35432:5432"
    expose:
      - 35432

  postgres_dev:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: fortress_local
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    container_name: fortress_dev
    ports:
      - "25433:5432"
    expose:
      - 25433
