{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "qiz1rcfqd2jy6"
  },
  "info": {
    "title": "NocoDB v2",
    "version": null,
    "description": "NocoDB API Documentation"
  },
  "x-tagGroups": [
    {
      "name": "Data APIs",
      "tags": [
        "Table Records",
        "Storage"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://app.nocodb.com"
    }
  ],
  "paths": {
    "/api/v2/storage/upload": {
      "post": {
        "summary": "Attachment Upload",
        "operationId": "storage-upload",
        "responses": {},
        "tags": [
          "Storage",
          "Internal"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentReq"
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "mimetype": "image/jpeg",
                    "path": "download/noco/jango_fett/Table1/attachment/uVbjPVQxC_SSfs8Ctx.jpg",
                    "size": 13052,
                    "title": "22bc-kavypmq4869759 (1).jpg"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "download/noco/jango_fett/Table1/attachment/uVbjPVQxC_SSfs8Ctx.jpg"
            },
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Target File Path"
          },
          {
            "$ref": "#/components/parameters/xc-token"
          },
          {
            "schema": {
              "enum": [
                "workspacePics",
                "profilePics",
                "organizationPics"
              ],
              "type": "string",
              "example": "workspacePics"
            },
            "name": "scope",
            "in": "query",
            "description": "The scope of the attachment"
          }
        ],
        "description": "Upload attachment"
      }
    },
    "/api/v2/tables/{tableId}/records": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "tableId",
          "in": "path",
          "required": true,
          "description": "**Table Identifier**."
        }
      ],
      "get": {
        "summary": "List Table Records",
        "operationId": "db-data-table-row-list",
        "description": "This API endpoint allows you to retrieve records from a specified table. You can customize the response by applying various query parameters for filtering, sorting, and formatting.\n\n**Pagination**: The response is paginated by default, with the first page being returned initially. The response includes the following additional information in the `pageInfo` JSON block:\n\n- `totalRows`: Indicates the total number of rows available for the specified conditions (if any).\n- `page`: Specifies the current page number.\n- `pageSize`: Defaults to 25 and defines the number of records on each page.\n- `isFirstPage`: A boolean value that indicates whether the current page is the first page of records in the dataset.\n- `isLastPage`: A boolean value that indicates whether the current page is the last page of records in the dataset.\n\nThe `pageInfo` attributes are particularly valuable when dealing with large datasets that are divided into multiple pages. They enable you to determine whether additional pages of records are available for retrieval or if you've reached the end of the dataset.",
        "tags": [
          "Table Records"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Allows you to specify the fields that you wish to include in your API response. By default, all the fields are included in the response.\n\nExample: `fields=field1,field2` will include only 'field1' and 'field2' in the API response. \n\nPlease note that it's essential not to include spaces between field names in the comma-separated list."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. By default, sorting is done in ascending order for the designated fields. To sort in descending order, add a '-' symbol before the field name.\n\nExample: `sort=field1,-field2` will sort the records first by 'field1' in ascending order and then by 'field2' in descending order.\n\nIf `viewId` query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view.\n\nPlease note that it's essential not to include spaces between field names in the comma-separated list."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "Enables you to define specific conditions for filtering records in your API response. Multiple conditions can be combined using logical operators such as 'and' and 'or'. Each condition consists of three parts: a field name, a comparison operator, and a value.\n\nExample: `where=(field1,eq,value1)~and(field2,eq,value2)` will filter records where 'field1' is equal to 'value1' AND 'field2' is equal to 'value2'. \n\nYou can also use other comparison operators like 'neq' (not equal), 'gt' (greater than), 'lt' (less than), and more, to create complex filtering rules.\n\nIf `viewId` query parameter is also included, then the filters included here will be applied over the filtering configuration defined in the view. \n\nPlease remember to maintain the specified format, and do not include spaces between the different condition components"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "Enables you to control the pagination of your API response by specifying the number of records you want to skip from the beginning of the result set. The default value for this parameter is set to 0, meaning no records are skipped by default.\n\nExample: `offset=25` will skip the first 25 records in your API response, allowing you to access records starting from the 26th position.\n\nPlease note that the 'offset' value represents the number of records to exclude, not an index value, so an offset of 25 will skip the first 25 records."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "Enables you to set a limit on the number of records you want to retrieve in your API response. By default, your response includes all the available records, but by using this parameter, you can control the quantity you receive.\n\nExample: `limit=100` will constrain your response to the first 100 records in the dataset."
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "viewId",
            "in": "query",
            "description": "***View Identifier***. Allows you to fetch records that are currently visible within a specific view. API retrieves records in the order they are displayed if the SORT option is enabled within that view.\n\nAdditionally, if you specify a `sort` query parameter, it will take precedence over any sorting configuration defined in the view. If you specify a `where` query parameter, it will be applied over the filtering configuration defined in the view. \n\nBy default, all fields, including those that are disabled within the view, are included in the response. To explicitly specify which fields to include or exclude, you can use the `fields` query parameter to customize the output according to your requirements."
          },
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "description": "List of data objects",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated",
                      "description": "Paginated Info"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "list": [
                        {
                          "Id": 1,
                          "SingleLineText": "David",
                          "Year": 2023,
                          "URL": "www.google.com",
                          "SingleSelect": "Jan",
                          "Email": "a@b.com",
                          "Duration": 74040,
                          "Decimal": 23.658,
                          "Currency": 23,
                          "JSON": {
                            "name": "John Doe",
                            "age": 30,
                            "email": "johndoe@example.com",
                            "isSubscribed": true,
                            "address": {
                              "street": "123 Main Street",
                              "city": "Anytown",
                              "zipCode": "12345"
                            },
                            "hobbies": [
                              "Reading",
                              "Hiking",
                              "Cooking"
                            ],
                            "scores": {
                              "math": 95,
                              "science": 88,
                              "history": 75
                            }
                          },
                          "Date": "2023-10-16",
                          "Time": "06:02:00",
                          "Rating": 1,
                          "Percent": 55,
                          "Checkbox": true,
                          "Attachment": [
                            {
                              "url": "https://some-s3-server.com/nc/uploads/2023/10/16/some-key/3niqHLngUKiU2Hupe8.jpeg",
                              "title": "2 be loved.jpeg",
                              "mimetype": "image/jpeg",
                              "size": 146143,
                              "signedUrl": "https://some-s3-server.com/nc/uploads/2023/10/16/signed-url-misc-info"
                            }
                          ],
                          "MultiSelect": "Jan,Feb",
                          "DateTime": "2023-10-16 08:56:32+00:00",
                          "LongText": "The sunsets in the small coastal town were a breathtaking sight. The sky would transform from a vibrant blue to warm hues of orange and pink as the day came to an end. Locals and tourists alike would gather at the beach, sipping on cool drinks and watching in awe as the sun dipped below the horizon.",
                          "Geometry": "23.23, 36.54",
                          "PhoneNumber": "123456789",
                          "Number": 5248,
                          "Barcode": "David",
                          "QRCode": "David",
                          "Formula": "10",
                          "Lookup": "a",
                          "Links:belongs-to": {
                            "Id": 1,
                            "Title": "a"
                          },
                          "Links:has-many": 2,
                          "Rollup": 3,
                          "Links:many-many": 3
                        }
                      ],
                      "pageInfo": {
                        "totalRows": 5,
                        "page": 1,
                        "pageSize": 1,
                        "isFirstPage": true,
                        "isLastPage": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "post": {
        "summary": "Create Table Records",
        "operationId": "db-data-table-row-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "Id": 10
                      },
                      {
                        "Id": 11
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Table Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "SingleLineText": "David",
                      "LongText": "The sunsets in the small coastal town were a breathtaking sight. The sky would transform from a vibrant blue to warm hues of orange and pink as the day came to an end. Locals and tourists alike would gather at the beach, sipping on cool drinks and watching in awe as the sun dipped below the horizon.",
                      "CreatedAt": "2023-10-16 08:27:59+00:00",
                      "UpdatedAt": "2023-10-16 08:56:32+00:00",
                      "Decimal": 23.658,
                      "Checkbox": true,
                      "Attachment": [
                        {
                          "url": "https://some-s3-server.com/nc/uploads/2023/10/16/some-key/3niqHLngUKiU2Hupe8.jpeg",
                          "title": "2 be loved.jpeg",
                          "mimetype": "image/jpeg",
                          "size": 146143,
                          "signedUrl": "https://some-s3-server.com/nc/uploads/2023/10/16/signed-url-misc-info"
                        }
                      ],
                      "MultiSelect": "Jan,Feb",
                      "SingleSelect": "Jan",
                      "Date": "2023-10-16",
                      "Year": 2023,
                      "Time": "06:02:00",
                      "PhoneNumber": "123456789",
                      "Email": "a@b.com",
                      "URL": "www.google.com",
                      "Currency": 23,
                      "Percent": 55,
                      "Duration": 74040,
                      "Rating": 1,
                      "JSON": {
                        "name": "John Doe",
                        "age": 30,
                        "email": "johndoe@example.com",
                        "isSubscribed": true,
                        "address": {
                          "street": "123 Main Street",
                          "city": "Anytown",
                          "zipCode": "12345"
                        },
                        "hobbies": [
                          "Reading",
                          "Hiking",
                          "Cooking"
                        ],
                        "scores": {
                          "math": 95,
                          "science": 88,
                          "history": 75
                        }
                      },
                      "DateTime": "2023-10-16 08:56:32+00:00",
                      "Geometry": "23.23, 36.54",
                      "Number": 5248
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows the creation of new records within a specified table. Records to be inserted are input as an array of key-value pair objects, where each key corresponds to a field name. Ensure that all the required fields are included in the payload, with exceptions for fields designated as auto-increment or those having default values. \n\nWhen dealing with 'Links' or 'Link To Another Record' field types, you should utilize the 'Create Link' API to insert relevant data. \n\nCertain read-only field types will be disregarded if included in the request. These field types include 'Look Up,' 'Roll Up,' 'Formula,' 'Auto Number,' 'Created By,' 'Updated By,' 'Created At,' 'Updated At,' 'Barcode,' and 'QR Code.'",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ]
      },
      "patch": {
        "summary": "Update Table Records",
        "operationId": "db-data-table-row-update",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "Id": 6
                      },
                      {
                        "Id": 7
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Table Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "Id": 6,
                      "SingleLineText": "Updated text-1",
                      "DateTime": "2023-10-19 08:56:32+00:00",
                      "Geometry": "23.232, 36.542",
                      "Number": 52482
                    },
                    {
                      "Id": 7,
                      "SingleLineText": "Updated text-2",
                      "DateTime": "2023-10-19 08:56:32+00:00",
                      "Geometry": "23.232, 36.542",
                      "Number": 52482
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows updating existing records within a specified table identified by an array of Record-IDs, serving as unique identifier for the record. Records to be updated are input as an array of key-value pair objects, where each key corresponds to a field name. Ensure that all the required fields are included in the payload, with exceptions for fields designated as auto-increment or those having default values. \n\nWhen dealing with 'Links' or 'Link To Another Record' field types, you should utilize the 'Create Link' API to insert relevant data. \n\nCertain read-only field types will be disregarded if included in the request. These field types include 'Look Up,' 'Roll Up,' 'Formula,' 'Auto Number,' 'Created By,' 'Updated By,' 'Created At,' 'Updated At,' 'Barcode,' and 'QR Code.'\n\nNote that a PATCH request only updates the specified fields while leaving other fields unaffected. Currently, PUT requests are not supported by this endpoint.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ]
      },
      "delete": {
        "summary": "Delete Table Records",
        "operationId": "db-data-table-row-delete",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "Example 1": {
                    "value": [
                      {
                        "Id": 1
                      },
                      {
                        "Id": 2
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Table Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "Id": 1
                    },
                    {
                      "Id": 2
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows deleting existing records within a specified table identified by an array of Record-IDs, serving as unique identifier for the record. Records to be deleted are input as an array of record-identifiers.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ]
      }
    },
    "/api/v2/tables/{tableId}/records/{recordId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "tableId",
          "in": "path",
          "required": true,
          "description": "**Table Identifier**"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "recordId",
          "in": "path",
          "required": true,
          "description": "Record ID"
        }
      ],
      "get": {
        "summary": "Read Table Record",
        "operationId": "db-data-table-row-read",
        "description": "This API endpoint allows you to retrieve a single record identified by Record-ID, serving as unique identifier for the record from a specified table.",
        "tags": [
          "Table Records"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Allows you to specify the fields that you wish to include in your API response. By default, all the fields are included in the response.\n\nExample: `fields=field1,field2` will include only 'field1' and 'field2' in the API response. \n\nPlease note that it's essential not to include spaces between field names in the comma-separated list."
          },
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "Id": 1,
                      "SingleLineText": "David",
                      "CreatedAt": "2023-10-16 08:27:59+00:00",
                      "UpdatedAt": "2023-10-16 10:05:41+00:00",
                      "Year": 2023,
                      "URL": "www.google.com",
                      "SingleSelect": "Jan",
                      "Email": "a@b.com",
                      "Duration": 74040,
                      "Decimal": 23.658,
                      "Currency": 23,
                      "Barcode": "David",
                      "JSON": {
                        "name": "John Doe",
                        "age": 30,
                        "email": "johndoe@example.com",
                        "isSubscribed": true,
                        "address": {
                          "street": "123 Main Street",
                          "city": "Anytown",
                          "zipCode": "12345"
                        },
                        "hobbies": [
                          "Reading",
                          "Hiking",
                          "Cooking"
                        ],
                        "scores": {
                          "math": 95,
                          "science": 88,
                          "history": 75
                        }
                      },
                      "QRCode": "David",
                      "Rollup": 3,
                      "Date": "2023-10-16",
                      "Time": "06:02:00",
                      "Rating": 1,
                      "Percent": 55,
                      "Formula": 10,
                      "Checkbox": true,
                      "Attachment": [
                        {
                          "url": "https://some-s3-server.com/nc/uploads/2023/10/16/some-key/3niqHLngUKiU2Hupe8.jpeg",
                          "title": "2 be loved.jpeg",
                          "mimetype": "image/jpeg",
                          "size": 146143,
                          "signedUrl": "https://some-s3-server.com/nc/uploads/2023/10/16/signed-url-misc-info"
                        }
                      ],
                      "MultiSelect": "Jan,Feb",
                      "DateTime": "2023-10-19 08:56:32+00:00",
                      "LongText": "The sunsets in the small coastal town were a breathtaking sight. The sky would transform from a vibrant blue to warm hues of orange and pink as the day came to an end. Locals and tourists alike would gather at the beach, sipping on cool drinks and watching in awe as the sun dipped below the horizon.",
                      "Geometry": "23.232, 36.542",
                      "PhoneNumber": "123456789",
                      "Number": 52482,
                      "Links:has-many": 2,
                      "Links:many-many": 3,
                      "Links:belongs-to": {
                        "Id": 1,
                        "Title": "a"
                      },
                      "Lookup": "a"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/records/count": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "tableId",
          "in": "path",
          "required": true,
          "description": "**Table Identifier**"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "viewId",
          "in": "query",
          "description": "**View Identifier**. Allows you to fetch record count that are currently visible within a specific view."
        }
      ],
      "get": {
        "summary": "Count Table Records",
        "operationId": "db-data-table-row-count",
        "description": "This API endpoint allows you to retrieve the total number of records from a specified table or a view. You can narrow down search results by applying `where` query parameter",
        "tags": [
          "Table Records"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "Enables you to define specific conditions for filtering record count in your API response. Multiple conditions can be combined using logical operators such as 'and' and 'or'. Each condition consists of three parts: a field name, a comparison operator, and a value.\n\nExample: `where=(field1,eq,value1)~and(field2,eq,value2)` will filter records where 'field1' is equal to 'value1' AND 'field2' is equal to 'value2'. \n\nYou can also use other comparison operators like 'neq' (not equal), 'gt' (greater than), 'lt' (less than), and more, to create complex filtering rules.\n\nIf `viewId` query parameter is also included, then the filters included here will be applied over the filtering configuration defined in the view. \n\nPlease remember to maintain the specified format, and do not include spaces between the different condition components"
          },
          {
            "$ref": "#/components/parameters/xc-token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/links/{linkFieldId}/records/{recordId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "tableId",
          "in": "path",
          "required": true,
          "description": "**Table Identifier**"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "linkFieldId",
          "in": "path",
          "required": true,
          "description": "**Links Field Identifier** corresponding to the relation field `Links` established between tables."
        }
      ],
      "get": {
        "summary": "List Linked Records",
        "operationId": "db-data-table-row-nested-list",
        "description": "This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.",
        "tags": [
          "Table Records"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "**Record Identifier** corresponding to the record in this table for which linked records are being fetched."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "fields",
            "description": "Allows you to specify the fields that you wish to include from the linked records in your API response. By default, only Primary Key and associated display value field is included.\n\nExample: `fields=field1,field2` will include only 'field1' and 'field2' in the API response. \n\nPlease note that it's essential not to include spaces between field names in the comma-separated list."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort linked records in your API response. By default, sorting is done in ascending order for the designated fields. To sort in descending order, add a '-' symbol before the field name.\n\nExample: `sort=field1,-field2` will sort the records first by 'field1' in ascending order and then by 'field2' in descending order.\n\nPlease note that it's essential not to include spaces between field names in the comma-separated list."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "where",
            "description": "Enables you to define specific conditions for filtering linked records in your API response. Multiple conditions can be combined using logical operators such as 'and' and 'or'. Each condition consists of three parts: a field name, a comparison operator, and a value.\n\nExample: `where=(field1,eq,value1)~and(field2,eq,value2)` will filter linked records where 'field1' is equal to 'value1' AND 'field2' is equal to 'value2'. \n\nYou can also use other comparison operators like 'neq' (not equal), 'gt' (greater than), 'lt' (less than), and more, to create complex filtering rules.\n\nPlease remember to maintain the specified format, and do not include spaces between the different condition components"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "in": "query",
            "name": "offset",
            "description": "Enables you to control the pagination of your API response by specifying the number of linked records you want to skip from the beginning of the result set. The default value for this parameter is set to 0, meaning no linked records are skipped by default.\n\nExample: `offset=25` will skip the first 25 linked records in your API response, allowing you to access linked records starting from the 26th position.\n\nPlease note that the 'offset' value represents the number of linked records to exclude, not an index value, so an offset of 25 will skip the first 25 linked records."
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "in": "query",
            "name": "limit",
            "description": "Enables you to set a limit on the number of linked records you want to retrieve in your API response. By default, your response includes all the available linked records, but by using this parameter, you can control the quantity you receive.\n\nExample: `limit=100` will constrain your response to the first 100 linked records in the dataset."
          },
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "description": "List of data objects",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/Paginated",
                      "description": "Paginated Info"
                    }
                  },
                  "required": [
                    "list",
                    "pageInfo"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "list": [
                        {
                          "Id": 1,
                          "SingleLineText": "David"
                        },
                        {
                          "Id": 2,
                          "SingleLineText": "Jane"
                        },
                        {
                          "Id": 3,
                          "SingleLineText": "Dave"
                        },
                        {
                          "Id": 4,
                          "SingleLineText": "Martin"
                        }
                      ],
                      "pageInfo": {
                        "totalRows": 4,
                        "page": 1,
                        "pageSize": 25,
                        "isFirstPage": true,
                        "isLastPage": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "post": {
        "summary": "Link Records",
        "operationId": "db-data-table-row-nested-link",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "Example 1": {
                    "value": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Table Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "Id": 4
                    },
                    {
                      "Id": 5
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "**Record Identifier** corresponding to the record in this table for which links are being created."
          },
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ]
      },
      "delete": {
        "summary": "Unlink Records",
        "operationId": "db-data-table-row-nested-unlink",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "Example 1": {
                    "value": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "tags": [
          "Table Records"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "Id": 1
                    },
                    {
                      "Id": 2
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "**Record Identifier** corresponding to the record in this table for which links are being removed."
          },
          {
            "required": true,
            "$ref": "#/components/parameters/xc-token"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiToken": {
        "description": "Model for API Token",
        "examples": [
          {
            "id": "1",
            "fk_user_id": "us_b3xo2i44nx5y9l",
            "description": "This API Token is for ABC application",
            "token": "DYh540o8hbWpUGdarekECKLdN5OhlgCUWutVJYX2"
          }
        ],
        "title": "API Token Model",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Unique API Token ID"
          },
          "fk_user_id": {
            "$ref": "#/components/schemas/Id",
            "description": "Foreign Key to User"
          },
          "description": {
            "type": "string",
            "description": "API Token Description",
            "example": "This API Token is for ABC application"
          },
          "token": {
            "type": "string",
            "description": "API Token",
            "example": "DYh540o8hbWpUGdarekECKLdN5OhlgCUWutVJYX2"
          }
        },
        "x-stoplight": {
          "id": "c7i7cfci4kobt"
        }
      },
      "ApiTokenReq": {
        "description": "Model for API Token Request",
        "examples": [
          {
            "description": "This API token is for ABC application"
          }
        ],
        "title": "API Token Request Model",
        "type": "object",
        "properties": {
          "description": {
            "description": "Description of the API token",
            "maxLength": 255,
            "type": "string",
            "example": "This API Token is for ABC application"
          }
        },
        "x-stoplight": {
          "id": "53ux6deypkuwb"
        }
      },
      "ApiTokenList": {
        "description": "Model for API Token List",
        "x-stoplight": {
          "id": "t24xmch4x2o30"
        },
        "examples": [
          {
            "list": [
              {
                "id": "1",
                "fk_user_id": "us_b3xo2i44nx5y9l",
                "description": "This API Token is for ABC application",
                "token": "DYh540o8hbWpUGdarekECKLdN5OhlgCUWutVJYX2"
              }
            ],
            "pageInfo": {
              "isFirstPage": true,
              "isLastPage": true,
              "page": 1,
              "pageSize": 10,
              "totalRows": 1
            }
          }
        ],
        "title": "API Token List Model",
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "example": [
              {
                "list": [
                  {
                    "id": "1",
                    "fk_user_id": "us_b3xo2i44nx5y9l",
                    "description": "This API Token is for ABC application",
                    "token": "DYh540o8hbWpUGdarekECKLdN5OhlgCUWutVJYX2"
                  }
                ],
                "pageInfo": {
                  "isFirstPage": true,
                  "isLastPage": true,
                  "page": 1,
                  "pageSize": 10,
                  "totalRows": 1
                }
              }
            ],
            "x-stoplight": {
              "id": "c7xu43yjgyjww"
            },
            "description": "List of api token objects",
            "items": {
              "$ref": "#/components/schemas/ApiToken",
              "x-stoplight": {
                "id": "5ih4l0ix2tr5q"
              }
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/Paginated",
            "x-stoplight": {
              "id": "0w8ktfnx3pusz"
            },
            "description": "Model for Paginated"
          }
        },
        "required": [
          "list",
          "pageInfo"
        ]
      },
      "Attachment": {
        "description": "Model for Attachment",
        "examples": [
          {
            "data": null,
            "mimetype": "image/jpeg",
            "path": "download/noco/jango_fett/Table1/attachment/c7z_UF8sZBgJUxMjpN.jpg",
            "size": 12345,
            "title": "kavypmq4869759.jpg"
          }
        ],
        "title": "Attachment Model",
        "type": "object",
        "properties": {
          "data": {
            "description": "Data for uploading"
          },
          "mimetype": {
            "type": "string",
            "description": "The mimetype of the attachment"
          },
          "path": {
            "type": "string",
            "description": "File Path"
          },
          "size": {
            "type": "number",
            "description": "Attachment Size"
          },
          "title": {
            "type": "string",
            "description": "The title of the attachment. Used in UI."
          },
          "url": {
            "type": "string",
            "description": "Attachment URL"
          }
        },
        "x-stoplight": {
          "id": "mjewsbpmazrwe"
        }
      },
      "AttachmentReq": {
        "description": "Model for Attachment Request",
        "type": "object",
        "x-examples": {
          "Example 1": {
            "mimetype": "image/jpeg",
            "path": "download/noco/jango_fett/Table1/attachment/uVbjPVQxC_SSfs8Ctx.jpg",
            "size": 13052,
            "title": "22bc-kavypmq4869759 (1).jpg"
          }
        },
        "title": "Attachment Request Model",
        "properties": {
          "mimetype": {
            "type": "string",
            "description": "The mimetype of the attachment"
          },
          "path": {
            "type": "string",
            "description": "The file path of the attachment"
          },
          "size": {
            "type": "number",
            "description": "The size of the attachment"
          },
          "title": {
            "type": "string",
            "description": "The title of the attachment used in UI"
          },
          "url": {
            "type": "string",
            "description": "Attachment URL to be uploaded via upload-by-url"
          }
        },
        "x-stoplight": {
          "id": "6cr1iwhbyxncd"
        }
      },
      "AttachmentRes": {
        "description": "Model for Attachment Response",
        "oneOf": [
          {
            "type": "object",
            "x-examples": {
              "Example 1": {
                "mimetype": "image/jpg",
                "size": 32903,
                "title": "Random-Pictures-of-Conceptual-and-Creative-Ideas-02.jpg",
                "path": "download/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg",
                "signedPath": "dltemp/lNoLbqB62Jdo5Rmp/1709308800000/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg"
              },
              "Example 2": {
                "mimetype": "image/jpeg",
                "size": 146143,
                "title": "2 be loved.jpeg",
                "url": "https://some-s3-server.com/nc/uploads/2023/10/16/some-key/3niqHLngUKiU2Hupe8.jpeg",
                "signedUrl": "https://some-s3-server.com/nc/uploads/2023/10/16/signed-url-misc-info"
              }
            },
            "properties": {
              "mimetype": {
                "type": "string",
                "description": "The mimetype of the attachment"
              },
              "path": {
                "type": "string",
                "description": "The attachment stored path"
              },
              "size": {
                "type": "number",
                "description": "The size of the attachment"
              },
              "title": {
                "type": "string",
                "description": "The title of the attachment used in UI"
              },
              "url": {
                "type": "string",
                "description": "The attachment stored url"
              },
              "signedPath": {
                "type": "string",
                "description": "Attachment signedPath will allow to access attachment directly"
              },
              "signedUrl": {
                "type": "string",
                "description": "Attachment signedUrl will allow to access attachment directly"
              }
            }
          },
          {
            "type": "null"
          }
        ],
        "title": "Attachment Response Model"
      },
      "Comment": {
        "description": "Model for Comment",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Unique ID"
          },
          "row_id": {
            "type": "string",
            "example": "rec0Adp9PMG9o7uJy",
            "description": "Row ID"
          },
          "comment": {
            "type": "string",
            "example": "This is a comment",
            "description": "Comment"
          },
          "created_by": {
            "$ref": "#/components/schemas/Id",
            "example": "usr0Adp9PMG9o7uJy",
            "description": "Created By"
          },
          "resolved_by": {
            "$ref": "#/components/schemas/Id",
            "example": "usr0Adp9PMG9o7uJy",
            "description": "Resolved By"
          },
          "parent_comment_id": {
            "$ref": "#/components/schemas/Id",
            "example": "cmt043cx4r30343ff",
            "description": "Parent Comment ID"
          },
          "source_id": {
            "$ref": "#/components/schemas/Id",
            "example": "src0Adp9PMG9o7uJy",
            "description": "Source ID"
          },
          "base_id": {
            "$ref": "#/components/schemas/Id",
            "example": "bas0Adp9PMG9o7uJy",
            "description": "Base ID"
          },
          "fk_model_id": {
            "$ref": "#/components/schemas/Id",
            "example": "mod0Adp9PMG9o7uJy",
            "description": "Model ID"
          },
          "created_at": {
            "type": "string",
            "example": "2020-05-20T12:00:00.000000Z",
            "description": "Created At"
          },
          "updated_at": {
            "type": "string",
            "example": "2020-05-20T12:00:00.000000Z",
            "description": "Updated At"
          }
        }
      },
      "Audit": {
        "description": "Model for Audit",
        "examples": [
          {
            "id": "adt_l5we7pkx70vaao",
            "user": "w@nocodb.com",
            "display_name": "NocoDB",
            "ip": "::ffff:127.0.0.1",
            "source_id": "ds_3l9qx8xqksenrl",
            "base_id": "p_9sx43moxhqtjm3",
            "fk_model_id": "md_ehn5izr99m7d45",
            "row_id": "rec0Adp9PMG9o7uJy",
            "op_type": "AUTHENTICATION",
            "op_sub_type": "UPDATE",
            "status": "string",
            "description": "Table nc_snms___Table_1 : field Date got changed from  2023-03-12 to ",
            "details": "<span class=\"\">Date</span>   : <span class=\"text-decoration-line-through red px-2 lighten-4 black--text\">2023-03-12</span>   <span class=\"black--text green lighten-4 px-2\"></span>"
          }
        ],
        "title": "Audit Model",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Unique ID"
          },
          "user": {
            "type": "string",
            "description": "The user name performing the action",
            "example": "w@nocodb.com"
          },
          "display_name": {
            "type": "string",
            "description": "The display name of user performing the action",
            "example": "NocoDB"
          },
          "ip": {
            "type": "string",
            "example": "::ffff:127.0.0.1",
            "description": "IP address from the user"
          },
          "source_id": {
            "type": "string",
            "description": "Source ID in where action is performed",
            "example": "ds_3l9qx8xqksenrl"
          },
          "base_id": {
            "type": "string",
            "description": "Base ID in where action is performed",
            "example": "p_9sx43moxhqtjm3"
          },
          "fk_model_id": {
            "type": "string",
            "description": "Model ID in where action is performed",
            "example": "md_ehn5izr99m7d45"
          },
          "row_id": {
            "type": "string",
            "description": "Row ID",
            "example": "rec0Adp9PMG9o7uJy"
          },
          "op_type": {
            "type": "string",
            "description": "Operation Type",
            "example": "AUTHENTICATION",
            "enum": [
              "COMMENT",
              "DATA",
              "PROJECT",
              "VIRTUAL_RELATION",
              "RELATION",
              "TABLE_VIEW",
              "TABLE",
              "VIEW",
              "META",
              "WEBHOOKS",
              "AUTHENTICATION",
              "TABLE_COLUMN",
              "ORG_USER"
            ]
          },
          "op_sub_type": {
            "type": "string",
            "description": "Operation Sub Type",
            "example": "UPDATE",
            "enum": [
              "UPDATE",
              "INSERT",
              "BULK_INSERT",
              "BULK_UPDATE",
              "BULK_DELETE",
              "LINK_RECORD",
              "UNLINK_RECORD",
              "DELETE",
              "CREATE",
              "RENAME",
              "IMPORT_FROM_ZIP",
              "EXPORT_TO_FS",
              "EXPORT_TO_ZIP",
              "SIGNIN",
              "SIGNUP",
              "PASSWORD_RESET",
              "PASSWORD_FORGOT",
              "PASSWORD_CHANGE",
              "EMAIL_VERIFICATION",
              "ROLES_MANAGEMENT",
              "INVITE",
              "RESEND_INVITE"
            ]
          },
          "status": {
            "type": "string",
            "description": "Audit Status"
          },
          "description": {
            "type": "string",
            "description": "Description of the action",
            "example": "Table nc_snms___Table_1 : field Date got changed from  2023-03-12 to "
          },
          "details": {
            "type": "string",
            "description": "Detail",
            "example": "<span class=\"\">Date</span>   : <span class=\"text-decoration-line-through red px-2 lighten-4 black--text\">2023-03-12</span>   <span class=\"black--text green lighten-4 px-2\"></span>"
          }
        },
        "x-stoplight": {
          "id": "n44nqsmhm56c7"
        }
      },
      "Source": {
        "description": "Model for Source",
        "examples": [
          {
            "alias": null,
            "config": "<ENCRYPTED>",
            "enabled": 1,
            "id": "ds_krsappzu9f8vmo",
            "inflection_column": "camelize",
            "inflection_table": "camelize",
            "is_meta": 1,
            "meta": null,
            "order": 1,
            "base_id": "p_01clqvzik3izk6",
            "type": "mysql2"
          }
        ],
        "title": "Source Model",
        "type": "object",
        "properties": {
          "alias": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Source Name"
          },
          "integration_title": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Integration Name"
          },
          "fk_integration_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Integration Id"
          },
          "config": {
            "description": "Source Configuration"
          },
          "enabled": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is this source enabled"
          },
          "id": {
            "description": "Unique Source ID",
            "type": "string"
          },
          "inflection_column": {
            "description": "Inflection for columns",
            "example": "camelize",
            "type": "string"
          },
          "inflection_table": {
            "description": "Inflection for tables",
            "example": "camelize",
            "type": "string"
          },
          "is_meta": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is the data source connected externally"
          },
          "is_local": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is the data source minimal db"
          },
          "is_schema_readonly": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is the data source schema readonly"
          },
          "is_data_readonly": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is the data source data readonly"
          },
          "order": {
            "description": "The order of the list of sources",
            "example": 1,
            "type": "number"
          },
          "base_id": {
            "description": "The base ID that this source belongs to",
            "type": "string"
          },
          "type": {
            "description": "DB Type",
            "enum": [
              "mysql",
              "mysql2",
              "oracledb",
              "pg",
              "snowflake",
              "sqlite3",
              "databricks"
            ],
            "example": "mysql2",
            "type": "string"
          }
        },
        "x-stoplight": {
          "id": "qyzsky82ovjiv"
        }
      },
      "BaseList": {
        "description": "Model for Source List",
        "examples": [
          {
            "list": [
              {
                "alias": null,
                "config": "<ENCRYPTED>",
                "enabled": 1,
                "id": "ds_krsappzu9f8vmo",
                "inflection_column": "camelize",
                "inflection_table": "camelize",
                "is_meta": 1,
                "meta": null,
                "order": 1,
                "base_id": "p_01clqvzik3izk6",
                "type": "mysql2"
              }
            ],
            "pageInfo": {
              "isFirstPage": true,
              "isLastPage": true,
              "page": 1,
              "pageSize": 10,
              "totalRows": 1
            }
          }
        ],
        "title": "Source List Model",
        "type": "object",
        "x-examples": {
          "example-1": {
            "sources": {
              "list": [
                {
                  "alias": "sakila",
                  "config": "<ENCRYPTED>",
                  "created_at": "2023-03-02 11:28:17",
                  "enabled": 1,
                  "id": "ds_btbdt19zde0gj9",
                  "inflection_column": "camelize",
                  "inflection_table": "camelize",
                  "is_meta": null,
                  "meta": null,
                  "order": 2,
                  "base_id": "p_01clqvzik3izk6",
                  "type": "mysql2",
                  "updated_at": "2023-03-02 11:28:17"
                },
                {
                  "alias": null,
                  "config": "<ENCRYPTED>",
                  "created_at": "2023-03-01 16:31:49",
                  "enabled": 1,
                  "id": "ds_krsappzu9f8vmo",
                  "inflection_column": "camelize",
                  "inflection_table": "camelize",
                  "is_meta": 1,
                  "meta": null,
                  "order": 1,
                  "base_id": "p_01clqvzik3izk6",
                  "type": "mysql2",
                  "updated_at": "2023-03-02 11:28:17"
                }
              ],
              "pageInfo": {
                "isFirstPage": true,
                "isLastPage": true,
                "page": 1,
                "pageSize": 2,
                "totalRows": 2
              }
            }
          }
        },
        "properties": {
          "list": {
            "type": "array",
            "x-stoplight": {
              "id": "1q3ny60j1g4z2"
            },
            "description": "List of source objects",
            "items": {
              "$ref": "#/components/schemas/Source",
              "x-stoplight": {
                "id": "udd0nrcv6pq8d"
              }
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/Paginated",
            "x-stoplight": {
              "id": "xqwcniocq37hk"
            },
            "description": "Paginated Info"
          }
        },
        "required": [
          "list",
          "pageInfo"
        ],
        "x-stoplight": {
          "id": "tty21vb01bfr0"
        }
      },
      "BaseMeta": {
        "description": "Additional meta during base creation",
        "properties": {
          "iconColor": {
            "description": "Icon color code in hexadecimal format",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BaseReq": {
        "description": "Model for Source Request",
        "examples": [
          {
            "alias": "My Source",
            "config": null,
            "inflection_column": "camelize",
            "inflection_table": "camelize",
            "is_meta": true,
            "type": "mysql"
          }
        ],
        "properties": {
          "alias": {
            "description": "Source Name - Default BASE will be null by default",
            "example": "My Source",
            "maxLength": 128,
            "type": "string"
          },
          "config": {
            "description": "Source Configuration"
          },
          "inflection_column": {
            "description": "Inflection for columns",
            "example": "camelize",
            "type": "string"
          },
          "inflection_table": {
            "description": "Inflection for tables",
            "example": "camelize",
            "type": "string"
          },
          "is_meta": {
            "description": "Is the data source connected externally",
            "type": "boolean"
          },
          "is_local": {
            "description": "Is the data source minimal db",
            "type": "boolean"
          },
          "type": {
            "description": "DB Type",
            "enum": [
              "mysql",
              "mysql2",
              "oracledb",
              "pg",
              "snowflake",
              "sqlite3",
              "databricks"
            ],
            "type": "string"
          },
          "fk_integration_id": {
            "type": "string"
          }
        },
        "title": "Source Request",
        "type": "object",
        "x-stoplight": {
          "id": "ky2ak9xsyl3b5"
        }
      },
      "Bool": {
        "description": "Model for Bool",
        "examples": [
          true
        ],
        "oneOf": [
          {
            "description": "0 or 1",
            "example": 0,
            "type": "integer"
          },
          {
            "description": "true or false",
            "type": "boolean"
          },
          {
            "type": "null"
          }
        ],
        "title": "Bool Model",
        "x-stoplight": {
          "id": "y0m76u8t9x2tn"
        }
      },
      "Column": {
        "description": "Model for Column",
        "examples": [
          {
            "ai": 0,
            "au": 0,
            "source_id": "ds_krsappzu9f8vmo",
            "cc": "",
            "cdf": null,
            "clen": "45",
            "column_name": "title",
            "cop": "2",
            "created_at": "2023-03-02 13:14:16",
            "csn": "utf8mb4",
            "ct": "varchar(45)",
            "deleted": null,
            "dt": "varchar",
            "dtx": "specificType",
            "dtxp": "45",
            "dtxs": null,
            "fk_model_id": "md_yvwvbt2i78rgcm",
            "id": "cl_0j9gv0oi8vjy46",
            "meta": null,
            "np": null,
            "ns": null,
            "order": 2,
            "pk": 0,
            "base_id": "p_01clqvzik3izk6",
            "pv": 1,
            "rqd": 0,
            "system": 0,
            "title": "Title",
            "uidt": "SingleLineText",
            "un": 0,
            "unique": 0,
            "updated_at": "2023-03-02 13:14:16",
            "validate": null,
            "virtual": null
          }
        ],
        "title": "Column Model",
        "type": "object",
        "properties": {
          "ai": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Auto-Increment?"
          },
          "au": {
            "$ref": "#/components/schemas/Bool",
            "description": "Auto Update Timestamp"
          },
          "source_id": {
            "description": "Source ID that this column belongs to",
            "example": "ds_krsappzu9f8vmo",
            "type": "string"
          },
          "cc": {
            "description": "Column Comment",
            "type": "string"
          },
          "cdf": {
            "$ref": "#/components/schemas/FieldDefaultValue",
            "description": "Column Default"
          },
          "clen": {
            "description": "Character Maximum Length",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "colOptions": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Formula"
              },
              {
                "$ref": "#/components/schemas/LinkToAnotherRecord"
              },
              {
                "$ref": "#/components/schemas/Lookup"
              },
              {
                "$ref": "#/components/schemas/Rollup"
              },
              {
                "$ref": "#/components/schemas/SelectOptions"
              },
              {
                "type": "object"
              }
            ],
            "description": "Column Options"
          },
          "column_name": {
            "description": "Column Name",
            "example": "title",
            "type": "string"
          },
          "cop": {
            "description": "Column Ordinal Position",
            "type": "string"
          },
          "csn": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Character Set Name"
          },
          "ct": {
            "description": "Column Type",
            "example": "varchar(45)",
            "type": "string"
          },
          "deleted": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Deleted?"
          },
          "dt": {
            "description": "Data Type in DB",
            "example": "varchar",
            "type": "string"
          },
          "dtx": {
            "description": "Data Type X",
            "example": "specificType",
            "type": "string"
          },
          "dtxp": {
            "description": "Data Type X Precision",
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "dtxs": {
            "description": "Data Type X Scale",
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "fk_model_id": {
            "description": "Model ID that this column belongs to",
            "example": "md_yvwvbt2i78rgcm",
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Unique ID"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta",
            "description": "Meta Info"
          },
          "np": {
            "description": "Numeric Precision",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "ns": {
            "description": "Numeric Scale",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "order": {
            "description": "The order of the list of columns",
            "type": "number"
          },
          "pk": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Primary Key?"
          },
          "pv": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Primary Value?"
          },
          "rqd": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Required?"
          },
          "system": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is System Column?"
          },
          "title": {
            "description": "Column Title",
            "example": "Title",
            "type": "string"
          },
          "uidt": {
            "description": "The data type in UI",
            "example": "SingleLineText",
            "enum": [
              "Attachment",
              "AutoNumber",
              "Barcode",
              "Button",
              "Checkbox",
              "Collaborator",
              "Count",
              "CreatedTime",
              "Currency",
              "Date",
              "DateTime",
              "Decimal",
              "Duration",
              "Email",
              "Formula",
              "ForeignKey",
              "GeoData",
              "Geometry",
              "ID",
              "JSON",
              "LastModifiedTime",
              "LongText",
              "LinkToAnotherRecord",
              "Lookup",
              "MultiSelect",
              "Number",
              "Percent",
              "PhoneNumber",
              "Rating",
              "Rollup",
              "SingleLineText",
              "SingleSelect",
              "SpecificDBType",
              "Time",
              "URL",
              "Year",
              "QrCode",
              "Links",
              "User",
              "CreatedBy",
              "LastModifiedBy"
            ],
            "type": "string"
          },
          "un": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Unsigned?"
          },
          "unique": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is unique?"
          },
          "visible": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is Visible?"
          }
        },
        "x-stoplight": {
          "id": "y9jx9r6o6x0h6"
        }
      },
      "ColumnList": {
        "description": "Model for Column List",
        "examples": [
          {
            "list": [
              {
                "ai": 0,
                "au": 0,
                "source_id": "ds_krsappzu9f8vmo",
                "cc": "",
                "cdf": null,
                "clen": "45",
                "column_name": "title",
                "cop": "2",
                "created_at": "2023-03-02 13:14:16",
                "csn": "utf8mb4",
                "ct": "varchar(45)",
                "deleted": null,
                "dt": "varchar",
                "dtx": "specificType",
                "dtxp": "45",
                "dtxs": null,
                "fk_model_id": "md_yvwvbt2i78rgcm",
                "id": "cl_0j9gv0oi8vjy46",
                "meta": null,
                "np": null,
                "ns": null,
                "order": 2,
                "pk": 0,
                "base_id": "p_01clqvzik3izk6",
                "pv": 1,
                "rqd": 0,
                "system": 0,
                "title": "Title",
                "uidt": "SingleLineText",
                "un": 0,
                "unique": 0,
                "updated_at": "2023-03-02 13:14:16",
                "validate": null,
                "virtual": null
              }
            ],
            "pageInfo": {
              "isFirstPage": true,
              "isLastPage": true,
              "page": 1,
              "pageSize": 10,
              "totalRows": 1
            }
          }
        ],
        "title": "Column List Model",
        "type": "object",
        "x-examples": {
          "example-1": {
            "sources": {
              "list": [
                {
                  "alias": "string",
                  "database": "string",
                  "host": "string",
                  "id": "string",
                  "params": "string",
                  "password": "string",
                  "port": 0,
                  "base_id": "string",
                  "ssl": "string",
                  "type": "string",
                  "url": "string",
                  "username": "string"
                }
              ],
              "pageInfo": {
                "isFirstPage": true,
                "isLastPage": true,
                "pageSize": 0,
                "sort": "string",
                "totalRows": 0
              }
            }
          }
        },
        "properties": {
          "list": {
            "type": "array",
            "x-stoplight": {
              "id": "c6lpw8px25356"
            },
            "description": "List of column objects",
            "items": {
              "$ref": "#/components/schemas/Column",
              "x-stoplight": {
                "id": "zbm89i86dr73y"
              }
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/Paginated",
            "x-stoplight": {
              "id": "ko0s0z13h4hsw"
            }
          }
        },
        "required": [
          "list",
          "pageInfo"
        ],
        "x-stoplight": {
          "id": "rsk9o5cs00wh5"
        }
      },
      "ColumnReq": {
        "$ref": "#/components/schemas/NormalColumnRequest"
      },
      "CommentReq": {
        "description": "Model for Comment Request",
        "examples": [
          {
            "comment": "This is the comment for the row",
            "fk_model_id": "md_ehn5izr99m7d45",
            "row_id": "3"
          }
        ],
        "title": "Comment Request Model",
        "type": "object",
        "properties": {
          "comment": {
            "type": "string",
            "description": "Description for the target row",
            "example": "This is the comment for the row",
            "maxLength": 3000
          },
          "fk_model_id": {
            "type": "string",
            "description": "Foreign Key to Model",
            "example": "md_ehn5izr99m7d45"
          },
          "row_id": {
            "type": "string",
            "description": "Row ID",
            "example": "3"
          }
        },
        "required": [
          "fk_model_id",
          "row_id"
        ],
        "x-stoplight": {
          "id": "ohotsd0vq6d8w"
        }
      },
      "CommentUpdateReq": {
        "description": "Model for Comment Update Request",
        "x-stoplight": {
          "id": "5shp04hfghm3a"
        },
        "examples": [
          {
            "comment": "This is the comment for the row",
            "fk_model_id": "md_ehn5izr99m7d45"
          }
        ],
        "title": "Comment Update Request Model",
        "type": "object",
        "properties": {
          "comment": {
            "type": "string",
            "description": "Description for the target row",
            "example": "This is the comment for the row",
            "maxLength": 3000
          },
          "fk_model_id": {
            "type": "string",
            "description": "Foreign Key to Model",
            "example": "md_ehn5izr99m7d45"
          }
        },
        "required": [
          "fk_model_id"
        ]
      },
      "Filter": {
        "description": "Model for Filter",
        "examples": [
          {
            "source_id": "ds_g4ccx6e77h1dmi",
            "comparison_op": "eq",
            "comparison_sub_op": null,
            "created_at": "2023-03-02 18:18:05",
            "fk_column_id": "cl_d7ah9n2qfupgys",
            "fk_hook_id": null,
            "fk_parent_id": null,
            "fk_view_id": "vw_b739e29vqmrxnf",
            "id": "fi_xn647tpmdq8fu8",
            "is_group": null,
            "logical_op": "and",
            "order": 1,
            "base_id": "p_xm3thidrblw4n7",
            "updated_at": "2023-03-02 18:18:05",
            "value": "foo"
          }
        ],
        "properties": {
          "source_id": {
            "description": "Unqiue Source ID",
            "readOnly": true,
            "type": "string"
          },
          "children": {
            "description": "Children filters. Available when the filter is grouped.",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "type": "array"
          },
          "comparison_op": {
            "description": "Comparison Operator",
            "anyOf": [
              {
                "enum": [
                  "allof",
                  "anyof",
                  "blank",
                  "btw",
                  "checked",
                  "empty",
                  "eq",
                  "ge",
                  "gt",
                  "gte",
                  "in",
                  "is",
                  "isWithin",
                  "isnot",
                  "le",
                  "like",
                  "lt",
                  "lte",
                  "nallof",
                  "nanyof",
                  "nbtw",
                  "neq",
                  "nlike",
                  "not",
                  "notblank",
                  "notchecked",
                  "notempty",
                  "notnull",
                  "null"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "comparison_sub_op": {
            "anyOf": [
              {
                "enum": [
                  "daysAgo",
                  "daysFromNow",
                  "exactDate",
                  "nextMonth",
                  "nextNumberOfDays",
                  "nextWeek",
                  "nextYear",
                  "oneMonthAgo",
                  "oneMonthFromNow",
                  "oneWeekAgo",
                  "oneWeekFromNow",
                  "pastMonth",
                  "pastNumberOfDays",
                  "pastWeek",
                  "pastYear",
                  "today",
                  "tomorrow",
                  "yesterday"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Comparison Sub-Operator"
          },
          "fk_column_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Foreign Key to Column"
          },
          "fk_hook_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Foreign Key to Hook"
          },
          "fk_model_id": {
            "$ref": "#/components/schemas/Id",
            "description": "Foreign Key to Model"
          },
          "fk_parent_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Foreign Key to parent group."
          },
          "fk_view_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Foreign Key to View"
          },
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Unique ID"
          },
          "is_group": {
            "description": "Is this filter grouped?",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "logical_op": {
            "description": "Logical Operator",
            "enum": [
              "and",
              "not",
              "or"
            ],
            "type": "string"
          },
          "base_id": {
            "description": "Unique Base ID",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The filter value. Can be NULL for some operators."
          }
        },
        "readOnly": true,
        "title": "Filter Model",
        "type": "object",
        "x-stoplight": {
          "id": "txz3lsqh1rbsu"
        }
      },
      "FilterList": {
        "description": "Model for Filter List",
        "examples": [
          {
            "list": [
              {
                "source_id": "ds_g4ccx6e77h1dmi",
                "comparison_op": "eq",
                "comparison_sub_op": null,
                "created_at": "2023-03-02 18:18:05",
                "fk_column_id": "cl_d7ah9n2qfupgys",
                "fk_hook_id": null,
                "fk_parent_id": null,
                "fk_view_id": "vw_b739e29vqmrxnf",
                "id": "fi_xn647tpmdq8fu8",
                "is_group": null,
                "logical_op": "and",
                "order": 1,
                "base_id": "p_xm3thidrblw4n7",
                "updated_at": "2023-03-02 18:18:05",
                "value": "foo"
              }
            ],
            "pageInfo": {
              "isFirstPage": true,
              "isLastPage": true,
              "page": 1,
              "pageSize": 10,
              "totalRows": 1
            }
          }
        ],
        "title": "Filter List Model",
        "type": "object",
        "x-examples": {
          "example-1": {
            "sources": {
              "list": [
                {
                  "alias": "string",
                  "database": "string",
                  "host": "string",
                  "id": "string",
                  "params": "string",
                  "password": "string",
                  "port": 0,
                  "base_id": "string",
                  "ssl": "string",
                  "type": "string",
                  "url": "string",
                  "username": "string"
                }
              ],
              "pageInfo": {
                "isFirstPage": true,
                "isLastPage": true,
                "pageSize": 0,
                "sort": "string",
                "totalRows": 0
              }
            }
          }
        },
        "properties": {
          "list": {
            "type": "array",
            "x-stoplight": {
              "id": "22sgv37ve9kxo"
            },
            "description": "List of filter objects",
            "items": {
              "$ref": "#/components/schemas/Filter",
              "x-stoplight": {
                "id": "ttw5rxhy83k8p"
              }
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/Paginated",
            "x-stoplight": {
              "id": "7cyrb1770mrzz"
            }
          }
        },
        "required": [
          "list",
          "pageInfo"
        ],
        "x-stoplight": {
          "id": "wbc42cyev1qzt"
        }
      },
      "FilterLogList": {
        "description": "Model for Filter Log List",
        "x-stoplight": {
          "id": "jbgae8q40szhc"
        },
        "examples": [
          {
            "list": [
              {
                "source_id": "ds_g4ccx6e77h1dmi",
                "comparison_op": "eq",
                "comparison_sub_op": null,
                "created_at": "2023-03-02 18:18:05",
                "fk_column_id": "cl_d7ah9n2qfupgys",
                "fk_hook_id": null,
                "fk_parent_id": null,
                "fk_view_id": "vw_b739e29vqmrxnf",
                "id": "fi_xn647tpmdq8fu8",
                "is_group": null,
                "logical_op": "and",
                "order": 1,
                "base_id": "p_xm3thidrblw4n7",
                "updated_at": "2023-03-02 18:18:05",
                "value": "foo"
              }
            ],
            "pageInfo": {
              "isFirstPage": true,
              "isLastPage": true,
              "page": 1,
              "pageSize": 10,
              "totalRows": 1
            }
          }
        ],
        "title": "Filter Log List Model",
        "type": "object",
        "x-examples": {
          "example-1": {
            "sources": {
              "list": [
                {
                  "alias": "string",
                  "database": "string",
                  "host": "string",
                  "id": "string",
                  "params": "string",
                  "password": "string",
                  "port": 0,
                  "base_id": "string",
                  "ssl": "string",
                  "type": "string",
                  "url": "string",
                  "username": "string"
                }
              ],
              "pageInfo": {
                "isFirstPage": true,
                "isLastPage": true,
                "pageSize": 0,
                "sort": "string",
                "totalRows": 0
              }
            }
          }
        },
        "properties": {
          "list": {
            "type": "array",
            "x-stoplight": {
              "id": "22sgv37ve9kxo"
            },
            "description": "List of filter objects",
            "items": {
              "$ref": "#/components/schemas/Filter",
              "x-stoplight": {
                "id": "ttw5rxhy83k8p"
              }
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/Paginated",
            "x-stoplight": {
              "id": "7cyrb1770mrzz"
            }
          }
        },
        "required": [
          "list",
          "pageInfo"
        ]
      },
      "FilterReq": {
        "description": "Model for Filter Request",
        "examples": [
          {
            "comparison_op": "eq",
            "comparison_sub_op": null,
            "fk_column_id": "cl_d7ah9n2qfupgys",
            "is_group": false,
            "logical_op": "and",
            "value": "foo"
          }
        ],
        "title": "Filter Request Model",
        "type": "object",
        "x-stoplight": {
          "id": "f95qy45zzlhei"
        },
        "properties": {
          "comparison_op": {
            "description": "Comparison Operator",
            "anyOf": [
              {
                "enum": [
                  "allof",
                  "anyof",
                  "blank",
                  "btw",
                  "checked",
                  "empty",
                  "eq",
                  "ge",
                  "gt",
                  "gte",
                  "in",
                  "is",
                  "isWithin",
                  "isnot",
                  "le",
                  "like",
                  "lt",
                  "lte",
                  "nallof",
                  "nanyof",
                  "nbtw",
                  "neq",
                  "nlike",
                  "not",
                  "notblank",
                  "notchecked",
                  "notempty",
                  "notnull",
                  "null"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "comparison_sub_op": {
            "anyOf": [
              {
                "enum": [
                  "daysAgo",
                  "daysFromNow",
                  "exactDate",
                  "nextMonth",
                  "nextNumberOfDays",
                  "nextWeek",
                  "nextYear",
                  "oneMonthAgo",
                  "oneMonthFromNow",
                  "oneWeekAgo",
                  "oneWeekFromNow",
                  "pastMonth",
                  "pastNumberOfDays",
                  "pastWeek",
                  "pastYear",
                  "today",
                  "tomorrow",
                  "yesterday"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Comparison Sub-Operator"
          },
          "fk_column_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Foreign Key to Column"
          },
          "fk_parent_id": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Belong to which filter ID"
          },
          "is_group": {
            "$ref": "#/components/schemas/Bool",
            "description": "Is this filter grouped?"
          },
          "logical_op": {
            "description": "Logical Operator",
            "enum": [
              "and",
              "not",
              "or"
            ],
            "type": "string"
          },
          "value": {
            "description": "The filter value. Can be NULL for some operators."
          }
        },
        "readOnly": true
      },
      "Follower": {
        "properties": {
          "fk_follower_id": {
            "type": "string"
          }
        },
        "title": "Follower",
        "type": "object",
        "x-stoplight": {
          "id": "a3aza5b3wavkv"
        }
      },
      "Form": {
        "description": "Model for Form",
        "examples": [
          {
            "source_id": "ds_g4ccx6e77h1dmi",
            "banner_image_url": {
              "mimetype": "image/jpg",
              "size": 32903,
              "title": "Random-Pictures-of-Conceptual-and-Creative-Ideas-02.jpg",
              "path": "download/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg",
              "signedPath": "dltemp/lNoLbqB62Jdo5Rmp/1709308800000/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg"
            },
            "columns": [
              {
                "id": "fvc_ugj9zo5bzocxtl",
                "source_id": "ds_g4ccx6e77h1dmi",
                "base_id": "p_xm3thidrblw4n7",
                "fk_view_id": "vw_kdf5cr7qmhksek",
                "fk_column_id": "cl_phvuuwjrzcdo0g",
                "uuid": null,
                "label": null,
                "help": null,
                "description": null,
                "required": null,
                "show": 0,
                "order": 1,
                "created_at": "2023-03-04 16:40:47",
                "updated_at": "2023-03-04 16:40:47",
                "meta": {}
              }
            ],
            "email": "user@example.com",
            "fk_model_id": "md_rsu68aqjsbyqtl",
            "heading": "My Form",
            "lock_type": "collaborative",
            "logo_url": {
              "mimetype": "image/jpg",
              "size": 32903,
              "title": "Random-Pictures-of-Conceptual-and-Creative-Ideas-02.jpg",
              "path": "download/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg",
              "signedPath": "dltemp/lNoLbqB62Jdo5Rmp/1709308800000/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg"
            },
            "meta": null,
            "redirect_after_secs": null,
            "redirect_url": null,
            "show_blank_form": 0,
            "subheading": "My Form Subheading",
            "submit_another_form": 0,
            "success_msg": "Thank you for the submission.",
            "title": "Form View 1"
          }
        ],
        "title": "Form Model",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Unique ID",
            "x-stoplight": {
              "id": "z6wjvs00d3qfk"
            }
          },
          "banner_image_url": {
            "$ref": "#/components/schemas/AttachmentRes",
            "description": "Banner Image URL"
          },
          "columns": {
            "type": "array",
            "description": "Form Columns",
            "items": {
              "$ref": "#/components/schemas/FormColumn"
            }
          },
          "email": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Email to sned after form is submitted"
          },
          "fk_model_id": {
            "type": "string",
            "description": "Foreign Key to Model",
            "example": "md_rsu68aqjsbyqtl"
          },
          "source_id": {
            "type": "string",
            "description": "Source ID",
            "example": "md_rsu68aqjsbyqtl",
            "x-stoplight": {
              "id": "kfz7tve8nzj6f"
            }
          },
          "heading": {
            "type": "string",
            "description": "The heading of the form",
            "example": "My Form"
          },
          "lock_type": {
            "enum": [
              "collaborative",
              "locked",
              "personal"
            ],
            "type": "string",
            "description": "Lock Type of this view",
            "example": "collaborative"
          },
          "logo_url": {
            "$ref": "#/components/schemas/AttachmentRes",
            "description": "Logo URL."
          },
          "meta": {
            "$ref": "#/components/schemas/Meta",
            "description": "Meta Info for this view"
          },
          "redirect_after_secs": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "The numbers of seconds to redirect after form submission"
          },
          "redirect_url": {
            "$ref": "#/components/schemas/TextOrNull",
            "description": "URL to redirect after submission"
          },
          "show_blank_form": {
            "$ref": "#/components/schemas/Bool",
            "description": "Show `Blank Form` after 5 seconds"
          },
          "subheading": {
            "$ref": "#/components/schemas/TextOrNull",
            "description": "The subheading of the form",
            "example": "My Form Subheading"
          },
          "submit_another_form": {
            "$ref": "#/components/schemas/Bool",
            "description": "Show `Submit Another Form` button"
          },
          "success_msg": {
            "$ref": "#/components/schemas/TextOrNull",
            "description": "Custom message after the form is successfully submitted"
          },
          "title": {
            "type": "string",
            "description": "Form View Title",
            "example": "Form View 1"
          }
        },
        "x-stoplight": {
          "id": "szw7mwcmvrj90"
        }
      },
      "FormUpdateReq": {
        "description": "Model for Form Update Request",
        "examples": [
          {
            "banner_image_url": {
              "mimetype": "image/jpg",
              "size": 32903,
              "title": "Random-Pictures-of-Conceptual-and-Creative-Ideas-02.jpg",
              "path": "download/noco/pm0umqsip16i1u5/m8yn03dncqal6ri//iDL5ednaHz2j2Sa3Cl.jpg"
            },
            "email": "user@example.com",
            "heading": "My Form",
            "logo_url": null,
            "meta": null,
            "redirect_after_secs": null,
            "redirect_url": null,
            "show_blank_form": 0,
            "subheading": "My Form Subheading",
            "submit_another_form": 0,
            "success_msg": "Thank you for the submission."
          }
        ],
        "title": "Form Update Request Model",
        "type": "object",
        "properties": {
          "banner_image_url": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AttachmentReq"
              },
              {
                "type": "null"
              }
            ],
            "description": "Banner Image URL"
          },
          "email": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "Email to sned after form is submitted"
          },
          "heading": {
            "description": "The heading of the form",
            "example": "My Form",
            "maxLength": 255,
            "type": "string"
          },
          "logo_url": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AttachmentReq"
              },
              {
                "type": "null"
              }
            ],
            "description": "Logo URL."
          },
          "meta": {
            "$ref": "#/components/schemas/Meta",
            "description": "Meta Info for this view"
          },
          "redirect_after_secs": {
            "$ref": "#/components/schemas/StringOrNull",
            "description": "The numbers of seconds to redirect after form submission"
          },
          "redirect_url": {
            "$ref": "#/components/schemas/TextOrNull",
            "description": "URL to redirect after submission"
          },
          "show_blank_form": {
            "$ref": "#/components/schemas/Bool",
            "description": "Show `Blank Form` after 5 seconds"
          },
          "subheading": {
            "$ref": "#/components/schemas/TextOrNull",
            "description": "The subheading of the form",
            "example": "My Form Subheading"
          },
          "submit_another_form": {
[...]
