<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <meta charset="UTF-8">
    <title>Thank you for your feedback</title>
</head>

<body style="font-family: sans-serif;">
    <a href="https://dwarves.foundation/" title="Dwarves Foundation"
        style="text-decoration:none;display:block;width:40px;font-size:0px;line-height:1em" target="_blank"
        data-saferedirecturl="https://www.google.com/url?q=https://dwarves.foundation/&amp;source=gmail&amp;ust=1626416643440000&amp;usg=AFQjCNGIt4baadQqiWzZd4LlE8uk1hiVuQ">
        <img src="https://ci3.googleusercontent.com/proxy/oRfPInIBmWk-yl6w3bJG3Px4V_BmtjVwHjt10YtTUzN0845q-gX6l6UcohOx0pzF1xs38x9IRCLN4zJFB0zdHR-AO00Hv1-T3jt2tAWpC7w39TkKjSZ9gOCm-Y5N2Jzaq8M=s0-d-e1-ft#https://s3-ap-southeast-1.amazonaws.com/assets-df/signature/logo-more-space.jpg"
            alt="logo" style="width:40px; margin: 0;" class="CToWUd"></a>
    <p style="font-weight: bold;">Thanks for your feedback</p>
    <p>Questions? <a href="mailto:khai@dwarvesv.com" style="cursor:pointer;color:inherit;word-wrap:break-word"
            target="_blank">Email</span></a> or <a href="http://wa.link/ziqmlq"
            style="cursor:pointer;color:inherit;word-wrap:break-word" target="_blank">WhatsApp</span></a> Khai anytime.
    </p>
</body>

</html>
